@import url('https://fonts.maateen.me/bangla/font.css');

@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

html,
body {
	@apply h-full overflow-hidden;
	font-family: 'Bangla', Arial, sans-serif !important;
}
